<h1>Add a new book</h1>
<input type="radio" value="Add from collection" name="n-book-radio">Add from collection
<input type="radio" value="Add a custom one" name="n-book-radio" checked="true">Add a custom one
<%= render 'form' %>