<div class="modal-body">
	<div class="cont">
		<h1><%= @book.title %></h1>
		<p><%= image_from_amazon(@book.amazon_id) %></p>
  		<p class="aut"><%= @book.author %></p>
  		<p class="des"><%= @book.description %></p>
	</div>
	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>
