// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-user{
	text-align: center;
	background-color: #6699FF;
	margin-top: 50px;
	border-radius: 5px;
	h1{

	}
	form{
		text-align: center;
		width: 50%;
		margin: auto;
		input{
			display: block;
			margin-bottom: 10px;
			width: 100%;
			border-radius: 7px;
			padding-left: 3px;
			&:last-child {
    			width:70%;
    			margin: auto;
    			margin-bottom: 10px;
			}
		}
	}
}